
<div class="container-exchange">

  <h1 class="exchange-header">Exchange Cryptocurrency</h1>
  
  <%= simple_form_for(@exchange, url: exchanges_path) do |f| %>
  <div class="exchange-boxes" >
    <div class="from-box">
      <h4 class="direction">From</h4>
      <div class="box">
        <%= f.input :assets, collection: @my_assets, label: "Choose Asset", input_html: { class: "sending-asset"} %>
        <%= f.input :sending_address_id, collection: [], input_html: {data: { addresses: @addresses.to_json} }, label: "Select address:" %>
        <div class="exchange-amount-box d-flex flex-column">
          <%= f.input :sending_amount, as: :integer, label: "Amount:", placeholder: "-"%>
        </div>
      </div>
    </div>
    <div class="arrow">
      <i class="fas fa-long-arrow-alt-right" style="font-size: 40px; margin: 0px 10px;"></i>
    </div>
    <div class="to-box">
      <h4 class="direction">To</h4>
      <div class="box">
        <%= f.input :assets, collection: @assets, label: "Choose Asset", input_html: { class: "receiving-asset"} %>
        <%= f.input :receiving_address_id, collection: [], input_html: {data: { addresses: @addresses.to_json} }, label: "Select address:" %>
        <div class="exchange-amount-box d-flex flex-column">
          <%= f.input :receiving_amount, as: :integer, label: "Amount: (approximately)", placeholder: "-" %>
        </div>
      </div>
    </div>
  </div>
  <div class="continue-button d-flex justify-content-center align-items-center">Continue</div>
  <p class="asset-hash d-none"><%= @asset_hash.to_json %></p>
</div>

<div class="container-scanning-exchanges d-none">
  <h1 class="exchange-header">Exchange Cryptocurrency</h1>
  <div class="scanning-box">
    <h6 style="margin-top: 3px;">Scanning exchanges for the best price</h6>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <div id="container">
      <div class="item"><%= image_tag "uniswap.png", alt: "alttext", class: "circle-image" %></div>
      <div class="item"><%= image_tag "1inch.png", alt: "alttext", class: "circle-image" %></div>
      <div class="item"><%= image_tag "kyber.png", alt: "alttext", class: "circle-image" %></div>
      <div class="item"><%= image_tag "sushi.png", alt: "alttext", class: "circle-image" %></div>
      <div class="item"><%= image_tag "curve.png", alt: "alttext", class: "circle-image" %></div>
      <div class="item"><%= image_tag "pancake.png", alt: "alttext", class: "circle-image" %></div>
    </div>
    <div>
        <p class="exchange-pair"></p>
    </div>
  </div>
</div>

<div class="container-select-exchange d-none">
  <h1 class="exchange-header">Exchange Cryptocurrency</h1>
  <div class="scanning-box-fees">
    <h5 style="margin-top: 5px; margin-bottom: 17px;">Select the best offer:</h5>
    <% random_fee = (25..35).to_a  %>
    <table class="exchanges-table" style="text-align: center; margin-top: 10px;">
      <tr class="row-exchange column-names">
        <th></th>
        <th>Exchange</th>
        <th class="exchange-pair-header">ETH/BTC</th>
        <th>Fee</th>
        <th>Receive</th>
        <th></th>
      </tr>
      <tr class="row-exchange uniswap-table">
        <td><%= image_tag "uniswap.png", alt: "alttext", class: "circle-image-exchange" %></td>
        <td class="uniswap">Uniswap</td>
        <td class="exchange-rate-show1"></td>
        <td class="random-fee1">$<%= random_fee.sample %></td>
        <td class="final-exchange-amount1"></td>
        <td><div class="select-button select-1" data-image="/assets/uniswap.png">Select</div></td>
      </tr>
      <tr class="row-exchange 1inch-table">
        <td><%= image_tag "1inch.png", alt: "alttext", class: "circle-image-exchange" %></td>
        <td class="inch">1inch</td>
        <td class="exchange-rate-show2"></td>
        <td class="random-fee2">$<%= random_fee.sample %></td>
        <td class="final-exchange-amount2"></td>
        <td><div class="select-button select-2" data-image="/assets/1inch.png">Select</div></td>
      </tr>
      <tr class="row-exchange kyber-table">
        <td><%= image_tag "kyber.png", alt: "alttext", class: "circle-image-exchange" %></td>
        <td class="kyber">Kyber</td>
        <td class="exchange-rate-show3"></td>
        <td class="random-fee3">$<%= random_fee.sample %></td>
        <td class="final-exchange-amount3"></td>
        <td><div class="select-button select-3" data-image="/assets/kyber.png">Select</div></td>
      </tr>
    </table>
    <div class="execute-exchange-buttons d-flex justify-content-around" style="width: 100%; margin-top: 30px;">
      <%= link_to "Cancel", new_exchange_path, class: "exchange-cancel-button" %>
      <div class="">
        <%= f.submit "Exchange", class: "execute-button disable-button pointer-none" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container-exchange-processing d-none">
  <h1 class="exchange-header">Exchange Cryptocurrency</h1>
  <div class="scanning-box-processing">
    <h5 style="margin-top: 5px; margin-bottom: 35px;">Executing the exchange</h5>
    <p class="processing-asset-info"></p>
    <h5 class="exchange-on-execution" style="margin-bottom: 40px;"><%= image_tag "uniswap.png", alt: "alttext", class: "circle-image", id: "currency-logo" %></h5>
    <div class="snippet d-flex" data-title=".dot-pulse">
      <div class="stage">
        <div class="dot-pulse"></div>
      </div>
    </div>
  </div>
</div>





 