<div class="navbar navbar-expand-sm navbar-lewagon" style="border-radius: 21px 21px 0px 0px; height: 68px">
  <div class="logo">
    <%= link_to root_path , class: "navbar-brand" do %>
      <%= image_tag "cryptocurrency.png" %>
    <% end %>
  </div>
  <div class="other-info d-flex">
    <div class="wallet-balance-sum d-flex" style="width: 150px; height: 40px; border: 1px solid white; border-radius: 12px;">
      <i class="fas fa-wallet logo" style="margin-left: 10px;"></i>
      <p class="final-balance" style="margin-top: 15px; margin-left: 15px;"> <%= number_to_currency(@final_balance, precision: 2, unit: "€") %>  </p>
    </div>
    <div class="btn-group " style="margin: 0px 15px; background-color: none;">
      <button type="button" class="btn btn-secondary d-flex" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-cog" style="font-size: 20px;"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <button class="dropdown-item" type="button">Profile</button>
        <button class="dropdown-item" type="button">Settings</button>
        <%= link_to "Contacts", contacts_path, class: "dropdown-item" %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item"  %>
      </div>
    </div>
  </div>
</div>


