
  <div class="homepage-container">
    <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="active page-link in balance-button" href="#">Current Balance</a></li>
      <li class="page-item"><a class="page-link in charts-button" href="#">Profit Analysis</a></li>
      <li class="page-item"><a class="page-link in price-button" href="#">Market Price</a></li>
    </ul>
  </nav>
  <div class="balance-container">
  <div class="comment">
  <p>Current status of your wallet</p>
  </div>
      <div class="scroll-container">
      <div class="row mb-5">
      <% @belongings.each do |belonging| %>

          <div class="col-6">
            <div class="belong-status">
              <div class="belong-title">
                <%= image_tag(belonging[:logo], size: 36) %>
                <div>
                <h5><%= belonging[:name] %></h5>
                </div>
              </div>
              <div class="belong-content">
                <div class="belong-details">
                  <p><i class="fas fa-coins belong-ico"></i>    <span class="belong-value">  <%= belonging[:balance] %></span> <span style="font-weight:700; font-size:12px">  <%= belonging[:ticker] %></span></p>
                  <p><i class="fas fa-money-bill-wave belong-ico"></i><span class="belong-value">  <%= number_to_currency(belonging[:value]) %></span></p>
                </div>
                <div class="belong-profit">
                  <p><i class="fas fa-chart-line belong-ico"></i>  <span class="belong-value" id="prct"> + <%= rand(0..30) %>%</span></p>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
    </div>
  </div>

  <div class="charts d-none">
    <div class="one-chart">
      <h5>Balance share per currency</h5>
      <%= pie_chart @charts_data,
        width: "300px",
        height: "250px",
        colors: ["#f7932a", "#627EEA","#DBDEE0","#2A5ADA"],
        legend: "bottom",
        empty: "No data",
        labels: {
            font: {
                color: "white"
            }
        }
      %>
    </div>
    <div class="one-chart">
      <h5>Lifetime Balance evolution</h5>
      <%= line_chart [["01.02.21", @total - 20000],["01.03.21", @total - 25000],["01.04.21", @total - 12000],["Today", @total]],
        empty: "No data",
        width: "280px",
        height: "200px" ,
        prefix: "$",
        stacked: true,
        colors: ["#f7932a", "#666"]
      %>
    </div>
  </div>


  <div class="price-container d-none">
     <div class="comment">
      <p>Current Market Price for each currency</p>
    </div>
    <div class="row">
     <div class="col-12">
       <div class="curr-status-title">
          <div class="curr-name-logo">
            <p>Name</p>
          </div>
          <div style="width:130px; text-align:left">
            <p>Price</p>
          </div>
          <div style="width:200px; text-align:left">
            <p>Last 10 days</p>
          </div>
        </div>
      </div>
    </div>
    <div class="scroll-container" >
      <div class="row" >
        <% @assets.reverse_each do |asset| %>
            <div class="col-12">
            <%= link_to asset_path(asset), class:"asset-link" do %>
              <div class="curr-status" >

                <div class="curr-name-logo">
                  <%= image_tag(asset.logo, size: 34) %>
                  <h5><%= asset.name %></h5>
                </div>
                
                <div class="curr-price-cont">
                <p><%= number_to_currency(asset.price, precision: 2) %></p>
                </div>
                  <%= line_chart @additional_infos[asset.name],
                    empty: "No data",
                    width: "200px",
                    height: "100px" ,
                    prefix: "€",
                    points: false,
                    stacked: true,
                    colors: ["#f7932a", "#666"]
                  %>
                <p><i class="asset-link fas fa-chevron-right"></i></p>
                
              </div>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
  </div>


  </div>
