<div class="homepage-container mt-5 ml-5">
  <div class="contact-list">
    <h2>Your existing contacts</h2>
    <div class="scroll-container" style="height: 400px;">
      <div class="row">
        <% @contacts.each do |contact| %>
          <div class="col-5">
            <div class="belong-status">
              <div class="belong-title">
                <%= image_tag("avatar.png", size: 36) %>
                <div>
                 <h5><%= contact.name %></h5>
                 <h6 style="font-size: 9px; margin-top: 6px; margin-left: 15px;"><%= contact.address_sequence %></h6>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="btn create-contact" id="add-contact">Create New Contact</div>
  </div>
  <div class="new-contact d-none" style="margin-top: 140px;">
      <h2>Add a new contact</h2>
  <div class="row">
  <div class="col-6">
    <%= simple_form_for(@contact) do |f| %>
      <%= f.input :name, placeholder: "Enter the contact name", input_html: { style: "background: #0A1C5B; color: white;" } %>
      <%= f.input :address_sequence, placeholder: "Enter the contact wallet address", input_html: { style: "background: #0A1C5B; color: white;" } %>
      <%= f.submit "Save", class: "btn create-contact" %>
    <% end %>
  </div>
  </div>


  </div>

</div>
