<div class="container mt-5 login">
  <div class="row justify-content-center">
    <div class="col-4 " align="center">
      <div class="logo-header mt-3 mb-5">
        <%= image_tag("main_logo.png", size:"80") %>
        <h2>Log in</h2>
      </div>

      <div class="safe">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        placeholder: 'Email', 
                        label:false,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        placeholder: 'Password', 
                        label:false,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions" >
            <%= f.button :submit, "Log in", id:"login-button", class:"btn btn-primary pl-5 pr-5 identify"%>
          </div>
        <% end %>
      </div>
        <%= render "devise/shared/links" %>



    </div>
  </div>
</div>

