<div class="transfer-container">

  <h3>Transfer Cryptocurrency</h2>

  <table class="transfers">
    <tr class="data">
      <th>
        <%= form_tag transactions_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control search-bar",
            placeholder: "Type in an asset"
          %>
        <% end %>
      </th>
      <th>Balance</th>
      <th>Price</th>
      <th>Value</th>
      <th class="fee">Est. Fee</th>
    </tr>
      <% @addresses.each do |address| %>
    <tr class="data">
      <td class="asset-name"><%= address.asset.name %> (<%= address.asset.ticker %>)</td>
      <% balance = address.balance %>
      <td><%= balance %> <%= address.asset.ticker %></td>
      <% price = address.asset.price %>
      <td>$<%= '%.3f' % price %></td>
      <td>$<%= '%.3f' % (balance * price) %></td>
      <td class="fee"></td>
    </tr>
      <% end %>
  </table>

</div>
