<div class="transfer-container">

  <h3>Transfer Cryptocurrency</h2>

  <table class="transfers">
    <tr class="data">
      <th class="search-bar">
        <%= form_tag transactions_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search"
          %>
        <% end %>
      </th>
      <th>Balance</th>
      <th>Price</th>
      <th>Value</th>
    </tr>
      <% @addresses.each do |address| %>
    <tr class="data clickable-row" data-url="<%= new_address_transaction_url(address) %>" >
      <td class="asset-name"><%= address.asset.name %> (<%= address.asset.ticker %>)</td>
      <% balance = address.balance %>
      <td><%= balance %> <span class="ticker"><%= address.asset.ticker %></span></td>
      <% price = address.asset.price %>
      <td>$<%= '%.3f' % price %></td>
      <td>$<%= '%.3f' % (balance * price) %></td>
      <td class="fee"></td>
    </tr>
      <% end %>
  </table>

</div>
