<div class="transfer-container">

  <h3>Transfer Cryptocurrency</h3>
  <p style="font-style: italic; font-size: 14px; color: rgba(255,255,255,0.6); font-weight: 200; margin-top: 16px;">Select a Cryptocurrency and initiate a transaction</p>

  <table class="transfers">
    <tr class="data">
      <th class="search-bar">
        <%= form_tag transactions_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search"
          %>
        <% end %>
      </th>
      <th>Balance</th>
      <th>Price</th>
      <th>Value</th>
    </tr>
    <% @crypto_hash.each do |crypto| %>
    <tr class="data clickable-row" data-url="<%= new_asset_transaction_url(crypto[:id]) %>" >
      <td class="asset-name"><%= crypto[:name] %> (<%= crypto[:ticker] %>)</td>
      <% balance = crypto[:balance] %>
      <td><%= balance %> <span class="ticker"><%= crypto[:ticker] %></span></td>
      <% price = crypto[:price] %>
      <td><%= number_to_currency(price,  precision: 2, unit: "€") %></td>
      <td><%= number_to_currency('%.3f' % (balance * price),  precision: 2, unit: "€") %></td>
      <td class="fee"></td>
    </tr>
    <% end %>
  </table>


</div>
