
<div class="new-transfer-container">

  <h3>Transfer Cryptocurrency</h3>

  <div class="currency-transfer main-block d-none">
    <div class="currency-transfer-elements d-flex flex-column justify-content-between">
      <div>
        <div class="currency-name"> <%= @address.asset.name %> (<%= @address.asset.ticker %>) </div>
        <p class="balance"><small>Available Balance: <%= @address.balance %> <%= @address.asset.ticker %></small></p>
      </div>
      <div class="send-receive d-flex justify-content-between">
        <div><a class="btn btn-transfer send-button">Send</a></div>
        <div class="btn btn-transfer">Receive</div>
      </div>
      <p class="history"><small>View History</small></p>
    </div>
  </div>

  <div class="currency-transfer-new second-block">
    <div class="currency-transfer-elements">
      <div>
        <div class="currency-choice"> Send <%= @address.asset.name %> (<%= @address.asset.ticker %>) </div>
      </div>
      <div class="transfer-form" style="position: relative; z-index: 1;">

        <div class="save-as-contact" style="position: absolute; top: 15px; right: 27px; font-size: 10px; z-index: 2">
          <p style="border-bottom: 0.5px solid white;">Save as Contact</p>
          <div class="save-contact-form" style="width: 200px; height: 120px; padding: 10px; border: 1px solid; position: absolute; top: 31px; right: -1px; background: #0A1C5B;">
             <%= simple_form_for(@contact) do |f| %>
               <%= f.input :name, label: "Name:", placeholder: "Enter the contact name", input_html: { style: "font-size: 10px; background: #0A1C5B; color: white;"} %>
               <%= f.input :address_sequence, :as => :hidden, input_html: { class: "contact-address", style: "background: #0A1C5B;" }, placeholder: "Enter the contact wallet address" %>
               <%= f.submit "Save", input_html: { style: "background: #0A1C5B;"} %>
             <% end %>
          </div>
          <div class="small-pointer" style="width: 20px; height: 20px; border: 1px solid; border-right: 0px; border-bottom: 0px; position: absolute; top: 21px; right: 20px; transform: rotate(45deg); background: #0A1C5B;"></div>
        </div>

        <%= simple_form_for [@address, @transaction] do |f| %>
          <%= f.input :receiving_address_id, placeholder: "Enter the recipient address" %>
          <div class="d-flex justify-content-between align-items-center">
            <div class="current-balance" id="balance-value" data-value="<%= @address.balance %>" data-ticker="<%= @address.asset.ticker %>"> Current balance: <%= @address.balance %> <%= @address.asset.ticker %> </div>
            <div class="btn btn-outline-secondary select-balance">Select all</div>
          </div>
          <%= f.input :sending_amount, as: :integer, label: false, input_html: { max: 5 }, placeholder: "Amount (0.0)" %>
          <%= f.input :sending_address_id, :as => :hidden, :input_html => { :value => @address.address_sequence } %>
          <%= f.input :receiving_amount, :as => :hidden, :input_html => { :value => 0 } %>
        <% end %>
      </div>
      <p class='ticker'> <%= @address.asset.ticker %> </p>
      <p class='amount-usd'>0.0</p>
      <p class='usd'>USD</p>
        <div class="not-valid-fb not-valid">
        </div>
      <div class="btn btn-next next-button disabled-link">Next</div>
    </div>
  </div>

  <div class="currency-transfer-results third-block d-none">
    <div>
      <div class="currency-choice"> Send <%= @address.asset.name %> (<%= @address.asset.ticker %>) </div>
    </div>
    <div class="transaction-details">
      <div class="transfer-details">
        <p>Review transaction details:</p>
      </div>
      <div class="network-fee">
        <p>Choose network fee:</p>
        <div class="network-fee-options">
          <div class="fee-options">
            <div class="network-speed">
              <p class="speed">Fast</p>
              <p class="time">(~ 20 min.)</p>
            </div>
            <p class="fee">~ $20.89</p>
          </div>
          <div class="fee-options">
            <div class="network-speed">
              <p class="speed">Normal</p>
              <p class="time">(~ 40 min.)</p>
            </div>
            <p class="fee">~ $20.02</p>
          </div>
          <div class="fee-options">
            <div class="network-speed">
              <p class="speed">Slow</p>
              <p class="time">(~ 60 min.)</p>
            </div>
            <p class="fee">~ $18.94</p>
          </div>
        </div>
      </div>
      <div class="send-cancel-buttons">
        <%= link_to 'Cancel', transactions_path, class: "btn btn-outline-secondary btn-cancel"  %>
        <button type="submit" form="new_transaction" class="btn btn-send">Send</button>
      </div>
    </div>
  </div>

  <div class="transaction-completed d-none">
    <p>Transaction sent successfully</p>
    <%= link_to 'Go back', transactions_path, class: "btn btn-goback"  %>
  </div>

</div>
