
<div class="new-transfer-container">

  <h3>Transfer Cryptocurrency</h3>

  <div class="currency-transfer main-block">
    <div class="currency-transfer-elements d-flex flex-column justify-content-between">
      <div>
        <div class="currency-name"> <%= @asset.name %> (<%= @asset.ticker %>) </div>
        <p class="balance"><small>Available Balance: <%= @asset.balance_for_user(current_user) %> <%= @asset.ticker %></small></p>
      </div>
      <div class="send-receive d-flex justify-content-between">
        <div><a class="btn btn-transfer send-button">Send</a></div>
        <div class="btn btn-transfer">Receive</div>
      </div>
      <p class="history"><small>View History</small></p>
    </div>
  </div>

  <div class="currency-transfer-new second-block d-none">
    <div class="currency-transfer-elements">
      <div>
        <div class="currency-choice"> Send <%= @asset.name %> (<%= @asset.ticker %>) </div>
      </div>
      <div class="transfer-form" data-controller="contacts" data-action="submit->contacts#refresh" style="position: relative; z-index: 1;">

        <div style="position: absolute; top: 73px; right: 27px; font-size: 10px; z-index: 2;">
          <p class="save-as-contact" style="border-bottom: 0.5px solid white; cursor: pointer;">Add New Contact</p>
          <div class="save-contact-container d-none">
            <div class="save-contact-form" style="width: 200px; height: 180px; padding: 10px; border: 1px solid; position: absolute; top: 31px; right: -1px; background: #0A1C5B;">
               <%= simple_form_for(@contact) do |f| %>
                 <%= f.input :name, label: "Name:", placeholder: "Enter the contact name", input_html: { style: "font-size: 10px; background: #0A1C5B; color: white;"} %>
                 <%= f.input :address_sequence, input_html: { class: "contact-address", style: "background: #0A1C5B;font-size: 10px; color: white;" }, placeholder: "Enter the contact wallet address" %>
                 <%= f.submit "Save", class: "submit-contact-button",  input_html: { data: { action: "submit->contacts#refresh" }, style: "background: #0A1C5B;"} %>
               <% end %>
            </div>
            <div class="small-pointer" style="width: 20px; height: 20px; border: 1px solid; border-right: 0px; border-bottom: 0px; position: absolute; top: 21px; right: 20px; transform: rotate(45deg); background: #0A1C5B;"></div>
          </div>
        </div>

        <%= simple_form_for [@address, @transaction] do |f| %>
          <%= f.input :sending_address_id, collection: @asset.individual_balances_for_user(current_user), label: "Select wallet", label_html: { style: 'margin-bottom: 2px; font-size: 12px' } %>
          <%= f.input :receiving_address_id, collection: @friends, label: "Enter the recipient's address", input_html: { data: { target: "contacts.list" } }, label_html: { style: 'margin-bottom: 2px; font-size: 12px' } %>
          <div class="d-flex justify-content-between align-items-center">
            <div class="current-balance" id="balance-value" data-value="<%= @asset.balance_for_user(current_user).round(2) %>" data-ticker="<%= @asset.ticker %>"> Current balance: <span id="current-balance"><%= @asset.balance_for_user(current_user) %></span> <%= @asset.ticker %> </div>
            <div class="btn btn-outline-secondary select-balance">Select all</div>
          </div>
          <%= f.input :sending_amount, as: :integer, label: false, input_html: { max: 5 }, placeholder: "Amount (0.0)" %>
          <%#= f.input :sending_address_id, :as => :hidden, :input_html => { :value => @address.address_sequence } %>
          <%#= f.input :receiving_amount, :as => :hidden, :input_html => { :value => 0 } %>
        <% end %>
      </div>
      <p class="asset-instance d-none"><%= @asset.to_json %></p>
      <p class="balance-hash d-none"><%= @infos.to_json %></p>
      <p class='ticker'> <%= @asset.ticker %> </p>
      <p class='amount-usd'>0.0</p>
      <p class='usd'>EUR</p>
        <div class="not-valid-fb not-valid">
        </div>
      <div class="btn btn-next next-button">Next</div>
    </div>
  </div>

  <div class="currency-transfer-results third-block d-none">
    <div>
      <div class="currency-choice"> Send <%= @asset.name %> (<%= @asset.ticker %>) </div>
    </div>
    <div class="transaction-details">
      <div class="transfer-details">
        <p>Review transaction details:</p>
      </div>
      <div class="network-fee">
        <p>Choose network fee:</p>
        <div class="network-fee-options">
          <div class="fee-options">
            <div class="network-speed">
              <p class="speed">Fast</p>
              <p class="time">(~ 20 min.)</p>
            </div>
            <p class="fee">~ $20.89</p>
          </div>
          <div class="fee-options">
            <div class="network-speed">
              <p class="speed">Normal</p>
              <p class="time">(~ 40 min.)</p>
            </div>
            <p class="fee">~ $20.02</p>
          </div>
          <div class="fee-options">
            <div class="network-speed">
              <p class="speed">Slow</p>
              <p class="time">(~ 60 min.)</p>
            </div>
            <p class="fee">~ $18.94</p>
          </div>
        </div>
      </div>
      <div class="non-valid-fb non-valid">
      </div>
      <div class="send-cancel-buttons">
        <%= link_to 'Cancel', transactions_path, class: "btn btn-outline-secondary btn-cancel"  %>
        <button type="submit" form="new_transaction" class="btn btn-send btn-send-transfer">Send</button>
      </div>
    </div>
  </div>

  <div class="transaction-completed d-none">
    <p>Transaction sent successfully</p>
    <%= link_to 'Go back', transactions_path, class: "btn btn-goback"  %>
  </div>

</div>
