<!DOCTYPE html>
<html>
  <head>
    <title>Monettary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  </head>

  <body>
    <div class="main-container">
      <div class="content" id="app-content">
        <% if current_user %>
          <%= render 'shared/navbar' %>
          <%= render 'shared/flashes' %>

          <div class="body d-flex">
            <%= render 'shared/side_bar' %>
            <div class="action-container" style="width:740px">
              <%= yield %>
            </div>
          </div>

        <% else %>

          <%= render 'shared/flashes' %>

          <div class="body d-flex">
            <%= yield %>
          </div>
        <% end %>
      </div>
      <div class="slider-top"></div>
      <%= image_tag("safe.png", size: 300, class:"safe-pic hidden") %>
      <div class="slider-bottom"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>

  </body>
</html>
